body {
    background: #fbfbfb;
    border-top: 5px solid #444;
    display: flex;
    flex-direction: column;
    font: 1em 'Helvetica', 'Arial', sans-serif;
    height: calc(100vh - 5px);
    margin: 0;
    padding: 0;
}

a {
    color: #38e;
    text-decoration: none;
}

a:hover {
    color: #111;
    text-decoration: underline;
}

#header-wrapper {
    border-bottom: 1px solid #e3e3e3;
    padding: .6em 0 .8em;
    font-size: .9em;
}

#content-wrapper {
    overflow-y: scroll;
    flex-grow: 1;
}

#footer-wrapper {
    border-top: 1px solid #e3e3e3;
    padding: .6em 0 .8em;
    font-size: 1em;
}

header, footer {
    animation: 0.5s fade-in ease-in;
    margin: 0 auto;
    max-width: 740px;
}

#content {
    margin: 0 auto;
    max-width: 720px;
    padding: 1.5em 0 .5em;
}

h1 {
    display: inline-block;
    margin: 0 0 .25em;
    padding: 0;
}

h1 a {
    display: inline-block;
    background: url('header.png') no-repeat;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 98px;
    width: 294px;
}

#search {
    font: 1em 'Helvetica', 'Arial', sans-serif;
    position: relative;
    top: -1.8em;
    display: inline-block;
    margin-left: 1em;
}

#content section {
    margin-bottom: 1em;
}

#content h2 {
    margin: 1em 0 .5em;
}

#content h2:first-child {
    margin-top: 0;
}

#content li {
    margin: .5em 0;
}

#content p {
    margin: 0;
}

.title {
    font-weight: bold;
}

.title-description {
    text-indent: 2em;
}

.copy-span {
    position: relative;
}

.copy-span .copy-link {
    margin-left: 1em;
}

.copy-link {
    font-size: .8em;
    color: #999;
}

.copy-link:hover {
    color: #666;
}

.copy-span .popup {
    animation: 1.5s popup-fade-out ease-out;
    background: #fcfcf3;
    border: 1px solid #ccc;
    left: 2em;
    padding: 0.2em 0.4em;
    position: absolute;
    text-transform: lowercase;
    top: 0.5em;
    user-select: none;
    z-index: 999;
}

@keyframes popup-fade-out {
    0%, 50% {
        opacity: 1;
    }

    85%, 100% {
        opacity: 0;
    }
}

nav ul {
    margin: 0;
    padding: 0;
    text-transform: lowercase;
}

nav ul li {
    display: inline;
    list-style: none;
}

nav ul li::after {
    content: ' | ';
}

nav ul li:last-child::after {
    content: none;
}

footer h2 {
    font-size: 1.2em;
    margin: 0 0 0.25em;
}

footer ul {
    text-transform: lowercase;
    margin: 0;
    padding: 0;
}

footer ul li {
    display: inline;
    list-style: none;
}

footer ul li::after {
    content: ' | ';
}

footer ul li:last-child::after {
    content: none;
}

#message {
    display: none;
}

.fade-in, #content > * {
    animation: 0.2s fade-in ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#content .fade-out {
    animation: 0.2s fade-out ease-out;
    opacity: 0;
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#cat-link {
    float: right;
    position: relative;
    top: -2.8em;
}

.zoop{
    font-family:'Comic Sans MS'
}

#m, #n {
    animation: s 1s linear 0s infinite;
    background: url(https://cloud.githubusercontent.com/assets/4290245/10271632/ae583248-6b13-11e5-8be8-33637a34854e.jpg) 50% 50%;
    border-radius: 50%;
    display: block;
    height:418px;
    margin: 0 auto;
    width:418px;
}

#m {
    animation-play-state: paused;
}

#m:hover {
    animation-play-state:running;
}

#n {
    animation: s 6s linear 0s infinite;
}

@keyframes s {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
