html,
body {
	height: 100%;
	margin: 0;
	font-family: 'Source Sans Pro', sans-serif;
}

@-webkit-keyframes rotate {
	from {
		-webkit-transform: rotate(0deg);
	}
	to { 
		-webkit-transform: rotate(359deg);
	}
}
#amy img
{
	-webkit-animation-name: rotate;
	-webkit-animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
#amy img:hover
{
    -webkit-animation-duration: 1s;
}

.keywords {
	padding: 5px;
	text-align: center;
	width: 99%;
	border-bottom: thin solid rgba(0,0,0,0.05);
	font-size: 12px;
}

#title {
	font-size: 20px;
	position: relative;
	top: -5%;
}

#command {
	font-size: 20px;
	line-height: 135%;
}

.secret {
	font-size: 20px;
	font-style: italic;
	text-align: center;
}

.links {
	vertical-align: bottom;
	position: absolute;
	bottom: 5px;
	width: 100%;
}
	
.box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: column;
	    -ms-flex-flow: column;
	        flex-flow: column;
	height: 100%;
}

.box .row {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 30px;
	    -ms-flex: 0 1 30px;
	        flex: 0 1 30px;
}

.box .row.header {
	-webkit-box-flex: 0;
	-webkit-flex: 0 1 116px;
	    -ms-flex: 0 1 116px;
	        flex: 0 1 116px;
	text-align: center;
	height: 100%;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: thin solid rgba(0,0,0,0.05);
}

.box .row.header img {
	width: 25%;
}

.box .row.content {
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	        flex: 1 1 auto;
	overflow-y: scroll;
	margin-right: 5px;
	padding-left: 35%;
	padding-right: 35%;
}

.box .row.footer {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 40px;
	    -ms-flex: 0 0 40px;
	        flex: 0 0 40px;
	padding: 0px;
	text-align: center;
	border-top: thin solid rgba(0,0,0,0.05);
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, 1); 
	-webkit-box-shadow: inset 0 0 6px rgba(150,150,150,0.1); 
}